/*All Formattings 2! */

/*hovers */
.just-hove4 blockquote:hover
{
	background-color: #FFE6CC;
}

.just-hove5 blockquote:hover
{
	background-color: #FFCCFF;
}

img 
{
	border: 5px dotted black;
	border-radius: 20px;
}

.no-borders
{
	border: none;
	border-radius: 0px;
}